@media(max-width: 768px) {
    tr {
        display: block;
    }

    td.break {
        float: left;
        line-height: 22px;
    }

    .btn-sm {
        line-height: 1.5;
        font-size: 1.2rem;
    }
    #vehicle_img {
        float:left;
    }
}
