@page
@model trans_track.Pages.ServiceHistory.CreateModel

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service.Vehicle" class="control-label"></label>
                <select asp-for="Service.VehicleID" class="form-control" asp-items="@Model.VehicleNameSL">
                    <option value="">-- Select Vehicle --</option>
                </select>
                <span asp-validation-for="Service.VehicleID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Service.ServiceType" class="control-label"></label>
                <input asp-for="Service.ServiceType" class="form-control" />
                <span asp-validation-for="Service.ServiceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.ServiceDate" class="control-label"></label>
                <input asp-for="Service.ServiceDate" class="form-control" />
                <span asp-validation-for="Service.ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.ServiceVendor" class="control-label"></label>
                <input asp-for="Service.ServiceVendor" class="form-control" />
                <span asp-validation-for="Service.ServiceVendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Mileage" class="control-label"></label>
                <input asp-for="Service.Mileage" class="form-control" />
                <span asp-validation-for="Service.Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
